# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment
env/
new_env/

# Ignore database files
*.sqlite3

# Ignore Django migration files
*/migrations/

# Ignore static and media files
/static/
media/

logs/
almog1.log

# Ignore local settings
local_settings.py
node_modules
.json
almogoilerpsys-firebase-adminsdk-*.json
almogoilltd-firebase-adminsdk-fbsvc-54f21c0f8d.json
et --soft f5a19e97902fb8743741af302ec73cba5d061f5e^
/almog1/almogoilltd-firebase-adminsdk-fbsvc-54f21c0f8d.json
