/* static/css/login.css */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.img-container {
    height: 120px;
    overflow: hidden;
}

.background-image {
    background-image: url('../images/background.jpg');
    /* Path to your background image */
    background-size: cover;
    background-position: center;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
    /* Behind the login container */
}

.logo {
    display: block;
    margin: 35px auto 20px auto; /* Example: Adds 35px top margin */
    width: 200px; /* Adjust as needed */
}

h1 {
    font-size: 30px !important;
}